/** 
 * This file imports colors from 10-colors.scss
 * and assigns them to text classes.
 */

@import '10-colors.scss';

.red {
  color: $red;
}

.green {
  color: $green;
}

.blue {
  color: $blue;
}
